<div class="sign-page">

  <div class="color-overlay">
    <div class="sign-wrap">
      <div class="middle">
        <div class="inner">
          <div class="sign-box">
            <div class="logo-box">
              <!-- brand -->
              <h2> Angular App</h2>
              <a class="brand" title="Quick Pay LLC">
                <!-- <img src="assets/images/logo.png" alt="Quick Pay LLC"> -->
              </a>
              <!-- / brand -->
            </div>

            <div class="form-block">
              <form class="form-signin" [formGroup]="loginForm" id="login-form">
                <div id="error">
                  <!-- error will be shown here ! -->
                </div>
                <div class="form-group">
                  <input type="username" id="email" formControlName="username" name="username" class="form-control"
                    placeholder="Email Address" required />
                </div>
                <div class="form-group">
                  <input type="password" id="password" formControlName="password" name="password" autocomplete="off"
                    class="form-control" placeholder="Password" required />
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="checkbox m-t-0 checkbox-warning help-block">
                        <input id="checkbox5" type="checkbox" name="remember" value="remember" checked="">
                        <label for="checkbox5">
                          Remember Me
                        </label>
                      </div>

                    </div>
                  </div>
                  <div class="col-md-6 text-right"> <a>Forgot password?</a> </div>
                </div>

                <div class="form-group m-b-0">
                  <!-- routerLink="/admin/dashboard" -->
                  <button class="btn btn-block btn-primary" (click)="login()" id="btn-login" type="submit">
                    <i *ngIf="isLoading" class="fa fa-circle-o-notch fa-spin btn-spinner"></i>
                    <span *ngIf="!isLoading">Log In</span>
                  </button>
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
